<header>
  <div class="department">
    <h1>{{department?.name}}</h1>
    <p>{{department?.description}}</p>
  </div>
</header>
<div class="content">
  <nav>
    <a
      class="menu-item"
      href="javascript:;"
      *ngFor="let member of members"
      [routerLink]="['/' + department.id + (member.id ? '/' + member.id : '')]"
      [routerLinkActiveOptions]="{exact: !member.id}"
      [routerLinkActive]="'current'"
    >
      <span class="full-name">{{member.name}}<ng-container *ngIf="!member.id"> (Team Leader)</ng-container></span>
      <span class="initials">{{member.name | initials}}</span>
    </a>
    <a
      class="button"
      *ngIf="department"
      href="javascript:;"
      [routerLink]="['/' + department.id + '/add-member']"
    >
      <span class="full-name">Add a new member</span>
      <span class="initials">+</span>
    </a>
  </nav>
  <section>
    <router-outlet></router-outlet>
    <app-member *ngIf="showLeaderInfo" [member]="department?.teamLeader" [isTeamLead]="true"></app-member>
  </section>
</div>
