<section>
  <div class="position">{{member?.job}}
    <ng-container *ngIf="isTeamLead"> (Team Leader)</ng-container>
  </div>
  <h2>{{title}} {{member?.name}}</h2>
  <p>{{member?.description}}</p>

  <div *ngIf="member">
    <div class="skill-title">Skills:</div>
    <div class="skill" *ngFor="let skill of skills">
      <div class="skill-name">{{skill.name}}</div>
      <div class="skill-level">{{skill.level}}</div>
    </div>
  </div>
  <a *ngIf="!isTeamLead" href="javascript:;" [routerLink]="['edit']" class="button">Change the profile</a>
</section>
