:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  position: relative;
  padding: 2rem;
}

.position {
  color: #61ac2c;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 1rem 0 0;
}

.skill-title {
  margin: 0 0 0.4rem;
}

.skill {
  position: relative;
  padding: 0 0.5rem;
  margin: 0 0 0.2rem;
  font-size: 1.2rem;
}

.skill:hover {
  background-color: rgba(97, 172, 44, 0.7);
}

.skill-name,
.skill-level {
  display: inline-block;
}

.skill-name {
  width: 10rem;
}

.button {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
