:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  position: relative;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-field {
  position: relative;
  margin: 0 0 1rem;
}
